RewriteEngine On

RewriteCond %{HTTP_REFERER} !^$

RewriteCond %{HTTP_REFERER} !^http://(www\.)?maxime-dore\.ca [NC]

RewriteRule \.(jpe?g|gif|bmp|png)$ - [F]

RewriteCond %{HTTP_REFERER} !^http://(www\.)?unsplash.com [NC]
