@layer components {
	//  █████╗ ██████╗  ██████╗ ██╗   ██╗████████╗
	// ██╔══██╗██╔══██╗██╔═══██╗██║   ██║╚══██╔══╝
	// ███████║██████╔╝██║   ██║██║   ██║   ██║
	// ██╔══██║██╔══██╗██║   ██║██║   ██║   ██║
	// ██║  ██║██████╔╝╚██████╔╝╚██████╔╝   ██║
	// ╚═╝  ╚═╝╚═════╝  ╚═════╝  ╚═════╝    ╚═╝
	.popup--about {
		transition: visibility 0s 0.8s, transform 0.8s var(--bezier);
		transform: translateX(-120%);
		visibility: hidden;

		&.is-active {
			&::before {
				transition: transform 0.6s var(--bezier);
				transform: translateX(50%);
			}
			&::after {
				transition: transform 1s var(--bezier);
				transform: translateX(25%);
			}
		}

		&::before {
			transition: transform 0.8s var(--bezier);
			transform: translateX(20%);
			background-color: var(--white);
		}
		&::after {
			transition: transform 0.6s var(--bezier);
			transform: translateX(15%);
		}
	}
}
