@layer utilities {
	// ██╗   ██╗████████╗██╗██╗     ██╗████████╗██╗███████╗███████╗
	// ██║   ██║╚══██╔══╝██║██║     ██║╚══██╔══╝██║██╔════╝██╔════╝
	// ██║   ██║   ██║   ██║██║     ██║   ██║   ██║█████╗  ███████╗
	// ██║   ██║   ██║   ██║██║     ██║   ██║   ██║██╔══╝  ╚════██║
	// ╚██████╔╝   ██║   ██║███████╗██║   ██║   ██║███████╗███████║
	//  ╚═════╝    ╚═╝   ╚═╝╚══════╝╚═╝   ╚═╝   ╚═╝╚══════╝╚══════╝

	.padd {
		padding-block: var(--padd);
	}
	.padd-top {
		padding-top: var(--padd);
	}
	.padd-bottom {
		padding-bottom: var(--padd);
	}
	.wrap {
		padding-inline: var(--wrap);
	}
	.wrap-left {
		padding-left: var(--wrap);
	}
	.wrap-right {
		padding-right: var(--wrap);
	}
	.wrapper {
		max-width: var(--wrapper);
		margin: 0 auto;
	}

	section {
		position: relative;
	}

}
