@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

// Colors
$black: #1d1d1d;
$dark: #2d2d2d;
$primary: #ffd24e;
$secondary: #a9a9a9;
$white: #ffffff;

// Sizes
$wrap: 5vw;
$wrapper: 1200px;
$padd: 120px;

// Anims
$bezier: cubic-bezier(0.68, 0.16, 0.39, 0.98);
$bounce: cubic-bezier(0.79, 2.25, 0.65, 0.5);
$animTime: 0.35s $bezier;

:root {
	--black: #{$black};
	--dark: #{$dark};
	--primary: #{$primary};
	--secondary: #{$secondary};
	--white: #{$white};

	--wrap: #{$wrap};
	--wrapper: #{$wrapper};
	--padd: #{$padd};
}

body {
	background: var(--black);
	color: var(--white);
	font-family: "Rubik", sans-serif;

	&.light-mode {
		--black: #{$white};
		--dark: #{$secondary};
		--primary: #{$primary};
		--secondary: #{$secondary};
		--white: #{$black};
	}
}

// ██╗   ██╗████████╗██╗██╗     ██╗████████╗██╗███████╗███████╗
// ██║   ██║╚══██╔══╝██║██║     ██║╚══██╔══╝██║██╔════╝██╔════╝
// ██║   ██║   ██║   ██║██║     ██║   ██║   ██║█████╗  ███████╗
// ██║   ██║   ██║   ██║██║     ██║   ██║   ██║██╔══╝  ╚════██║
// ╚██████╔╝   ██║   ██║███████╗██║   ██║   ██║███████╗███████║
//  ╚═════╝    ╚═╝   ╚═╝╚══════╝╚═╝   ╚═╝   ╚═╝╚══════╝╚══════╝

.padd {
	padding-block: var(--padd);
}
.padd-top {
	padding-top: var(--padd);
}
.padd-bottom {
	padding-bottom: var(--padd);
}
.wrap {
	padding-inline: var(--wrap);
}
.wrap-left {
	padding-left: var(--wrap);
}
.wrap-right {
	padding-right: var(--wrap);
}
.wrapper {
	max-width: var(--wrapper);
	margin: 0 auto;
}

.h1 {
	font-family: "Rubik", sans-serif;
	font-size: 100px;
	line-height: 1.2;
}
.subtitle {
	font-family: "Rubik", sans-serif;
	font-size: 14px;
	font-weight: 300;
}

// ███╗   ██╗ █████╗ ██╗   ██╗
// ████╗  ██║██╔══██╗██║   ██║
// ██╔██╗ ██║███████║██║   ██║
// ██║╚██╗██║██╔══██║╚██╗ ██╔╝
// ██║ ╚████║██║  ██║ ╚████╔╝
// ╚═╝  ╚═══╝╚═╝  ╚═╝  ╚═══╝
.nav {
}

// ██╗  ██╗███████╗██████╗  ██████╗
// ██║  ██║██╔════╝██╔══██╗██╔═══██╗
// ███████║█████╗  ██████╔╝██║   ██║
// ██╔══██║██╔══╝  ██╔══██╗██║   ██║
// ██║  ██║███████╗██║  ██║╚██████╔╝
// ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝ ╚═════╝
.hero {
	--thumb-size: 150px;
	height: 100vh;

	&__content {
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 75vh;
			background: linear-gradient(to top, var(--black), rgba(255, 255, 255, 0));
			pointer-events: none;
			z-index: 1;
		}
	}
	&__sidebar {
		width: 200px;
	}

	.slider {
		&__nav {
			position: absolute;
			right: calc(100% - calc(var(--thumb-size) / 2));
			width: var(--thumb-size);
			height: calc(var(--thumb-size) * 1.66);
			bottom: var(--padd);
		}
	}
}

//  ██████╗  █████╗ ██╗     ██╗     ███████╗██████╗ ██╗   ██╗
// ██╔════╝ ██╔══██╗██║     ██║     ██╔════╝██╔══██╗╚██╗ ██╔╝
// ██║  ███╗███████║██║     ██║     █████╗  ██████╔╝ ╚████╔╝
// ██║   ██║██╔══██║██║     ██║     ██╔══╝  ██╔══██╗  ╚██╔╝
// ╚██████╔╝██║  ██║███████╗███████╗███████╗██║  ██║   ██║
//  ╚═════╝ ╚═╝  ╚═╝╚══════╝╚══════╝╚══════╝╚═╝  ╚═╝   ╚═╝
.gallery {
	--gutter: 2rem;
	--columns: 3;

	columns: 300px;
	column-gap: var(--gutter);

	&__item {
		transition: all 0.25s $bezier;
		margin: 0 0 var(--gutter);
		cursor: zoom-in;

		&:hover {
			position: relative;
			transform: scale(1.25);
			box-shadow: 0 15px 50px rgba(0, 0, 0, 0.75);
		}

		img {
			width: 100%;
			object-fit: contain;
		}
	}
}
