@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

// Colors
$pitchBlack: #121212;
$black: #1d1d1d;
$dark: #2d2d2d;
$primary: #ffd24e;
$secondary: #a9a9a9;
$white: #ffffff;

// Sizes
$wrap: 5vw;
$wrapper: 1200px;
$padd: 150px;

// Anims
$bezier: cubic-bezier(0.68, 0.16, 0.39, 0.98);
$bounce: cubic-bezier(0.79, 2.25, 0.65, 0.5);
$animTime: 0.35s $bezier;

:root {
	--pitchBlack: #{$pitchBlack};
	--black: #{$black};
	--dark: #{$dark};
	--primary: #{$primary};
	--secondary: #{$secondary};
	--white: #{$white};

	--wrap: #{$wrap};
	--wrapper: #{$wrapper};
	--padd: #{$padd};

	// Smoothscroll on anchor
	scroll-behavior: smooth;
}

body {
	background: var(--black);
	color: var(--white);

	font-family: "Rubik", sans-serif;

	&.light-mode {
		--pitchBlack: #{$white};
		--black: #{$white};
		--dark: #{$secondary};
		--primary: #{$primary};
		--secondary: #{$secondary};
		--white: #{$black};
	}
}

// ██╗   ██╗████████╗██╗██╗     ██╗████████╗██╗███████╗███████╗
// ██║   ██║╚══██╔══╝██║██║     ██║╚══██╔══╝██║██╔════╝██╔════╝
// ██║   ██║   ██║   ██║██║     ██║   ██║   ██║█████╗  ███████╗
// ██║   ██║   ██║   ██║██║     ██║   ██║   ██║██╔══╝  ╚════██║
// ╚██████╔╝   ██║   ██║███████╗██║   ██║   ██║███████╗███████║
//  ╚═════╝    ╚═╝   ╚═╝╚══════╝╚═╝   ╚═╝   ╚═╝╚══════╝╚══════╝

.padd {
	padding-block: var(--padd);
}
.padd-top {
	padding-top: var(--padd);
}
.padd-bottom {
	padding-bottom: var(--padd);
}
.wrap {
	padding-inline: var(--wrap);
}
.wrap-left {
	padding-left: var(--wrap);
}
.wrap-right {
	padding-right: var(--wrap);
}
.wrapper {
	max-width: var(--wrapper);
	margin: 0 auto;
}

.h1 {
	font-family: "Rubik", sans-serif;
	font-size: 100px;
	line-height: 1.2;
}
.subtitle {
	font-family: "Rubik", sans-serif;
	font-size: 14px;
	font-weight: 300;
}

section {
	position: relative;
}

.button {
	transition: all 0.25s;
	display: inline-flex;
	align-items: center;
	gap: 15px;
	position: relative;
	padding: 15px 25px;

	&::before {
		content: "";
		transition: transform 0.25s $bezier, background 0.25s;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform-origin: left;
		transform: scaleX(0);
		background: var(--primary);
	}

	// Colors
	&--black {
		background: var(--black);
		color: var(--white);

		&::before {
			background: var(--white);
		}

		&:hover {
			color: var(--black);
		}

		.bg-black & {
			background: var(--pitchBlack);
		}
		.bg-white &::before {
			background: var(--white);
		}
	}
	&--white {
		background: var(--white);
		color: var(--black);

		&::before {
			background: var(--black);
		}

		&:hover {
			color: var(--white);

			img {
				filter: invert(1);
			}
		}

		.bg-white & {
			background: var(--secondary);
		}
		.bg-black &::before {
			background: var(--pitchBlack);
		}
	}

	// Types
	&--sideways {
		&::before {
			transform-origin: bottom;
			transform: scaleY(0);
		}
	}

	// States
	&.button--active {
		color: var(--black);
		cursor: default;

		&::before {
			background: var(--primary);
			transform: none;
		}

		img {
			filter: none;
		}
	}
	&.button--disabled {
		opacity: 0.25;
		cursor: not-allowed;
	}

	// Elements
	&__line {
		transition: all 0.25s $bezier;
		height: 2px;
		width: 30px;
		background: currentColor;
	}

	&:hover,
	a:hover &,
	label:hover & {
		&::before {
			transform: none;
		}

		.light-mode & img {
			filter: invert(0);
		}
	}

	span,
	img {
		position: relative;
	}
	img {
		transition: filter 0.35s;
		width: 24px;
		height: 24px;

		.light-mode & {
			filter: invert(1);
		}
	}
}

// ██╗  ██╗███████╗██████╗  ██████╗
// ██║  ██║██╔════╝██╔══██╗██╔═══██╗
// ███████║█████╗  ██████╔╝██║   ██║
// ██╔══██║██╔══╝  ██╔══██╗██║   ██║
// ██║  ██║███████╗██║  ██║╚██████╔╝
// ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝ ╚═════╝
.hero {
	--thumb-size: 150px;
	height: 100vh;

	&__content {
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100vh;
			background: linear-gradient(to top, var(--black), rgba(255, 255, 255, 0));
			pointer-events: none;
			z-index: 1;
		}
	}
	&__sidebar {
		width: 200px;
	}

	.slider {
		&__nav {
			position: absolute;
			right: calc(100% - calc(var(--thumb-size) / 2));
			width: var(--thumb-size);
			height: calc(var(--thumb-size) * 1.66);
			bottom: var(--padd);
		}
	}
}

//  ██████╗  █████╗ ██╗     ██╗     ███████╗██████╗ ██╗   ██╗
// ██╔════╝ ██╔══██╗██║     ██║     ██╔════╝██╔══██╗╚██╗ ██╔╝
// ██║  ███╗███████║██║     ██║     █████╗  ██████╔╝ ╚████╔╝
// ██║   ██║██╔══██║██║     ██║     ██╔══╝  ██╔══██╗  ╚██╔╝
// ╚██████╔╝██║  ██║███████╗███████╗███████╗██║  ██║   ██║
//  ╚═════╝ ╚═╝  ╚═╝╚══════╝╚══════╝╚══════╝╚═╝  ╚═╝   ╚═╝
.gallery {
	--gutter: 2rem;
	--columns: 3;

	columns: 300px;
	column-gap: var(--gutter);

	&__tab {
		transition: visibility 0s 0.25s, max-height 0s 0.25s, padding 0s 0.25s, opacity 0.25s 0.25s;
		max-height: 9999px;

		&.tab--hidden {
			transition: visibility 0s 0.25s, max-height 0s 0.25s, padding 0s 0.25s, opacity 0.25s;
			padding: 0;
			max-height: 0;
			opacity: 0;
			visibility: hidden;
		}
	}

	&__item {
		margin: 0 0 var(--gutter);

		& > img {
			transition: transform 0.25s $bezier, box-shadow 0.25s $bezier, opacity 1s 0.25s;
			cursor: zoom-in;

			&:hover {
				transform: scale(1.25);
				box-shadow: 0 15px 50px rgba(0, 0, 0, 0.75);
			}
		}
	}
	.item {
		&__popup {
			transition: visibility 0s 0.35s, opacity 0.25s, transform 0.35s ease;
			transform: translateY(25%);
			opacity: 0;
			visibility: hidden;

			&.is-active {
				transition: visibility 0s, opacity 0.25s, transform 0.35s ease;
				transform: none;
				opacity: 1;
				visibility: visible;
			}

			&-img {
				box-shadow: 0 0 0 100vmax rgba(29, 29, 29, 0.9);
			}
		}
		&__nav {
			transition: box-shadow 0.25s;

			&.nav--prev {
				box-shadow: inset 30px 0 20px -20px var(--black);

				&:hover {
					box-shadow: inset 40px 0 30px -20px var(--pitchBlack);
				}
			}
			&.nav--next {
				box-shadow: inset -30px 0 20px -20px var(--black);

				&:hover {
					box-shadow: inset -40px 0 30px -20px var(--pitchBlack);
				}
			}
		}
	}

	&__tabs {
		transform: rotate(90deg) translateX(-55px);
		transform-origin: bottom left;
	}
	&__cta {
		box-shadow: 0 -5rem 200px 200px var(--black);
	}
}

// ███████╗██████╗ ██╗███╗   ██╗███╗   ██╗███████╗██████╗
// ██╔════╝██╔══██╗██║████╗  ██║████╗  ██║██╔════╝██╔══██╗
// ███████╗██████╔╝██║██╔██╗ ██║██╔██╗ ██║█████╗  ██████╔╝
// ╚════██║██╔═══╝ ██║██║╚██╗██║██║╚██╗██║██╔══╝  ██╔══██╗
// ███████║██║     ██║██║ ╚████║██║ ╚████║███████╗██║  ██║
// ╚══════╝╚═╝     ╚═╝╚═╝  ╚═══╝╚═╝  ╚═══╝╚══════╝╚═╝  ╚═╝
.spinner {
	#root > &-container {
		transition: opacity 0.5s 0.5s;
		position: fixed;
		bottom: 50%;
		right: 50%;
		transform: translate(50%, 50%);

		&.is-loaded {
			opacity: 0;
		}
	}
	&__inner {
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $primary;
			animation: loader 1s infinite forwards;
		}
	}
}

@keyframes loader {
	0% {
		transform: scaleX(0);
		transform-origin: left;
	}
	49% {
		transform-origin: left;
	}
	50% {
		transform: scaleX(100%);
		transform-origin: right;
	}
	100% {
		transform-origin: right;
		transform: scaleX(0);
	}
}

// ███████╗ ██████╗  ██████╗ ████████╗███████╗██████╗
// ██╔════╝██╔═══██╗██╔═══██╗╚══██╔══╝██╔════╝██╔══██╗
// █████╗  ██║   ██║██║   ██║   ██║   █████╗  ██████╔╝
// ██╔══╝  ██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗
// ██║     ╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║
// ╚═╝      ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝
footer {
	.social {
		.light-mode & {
			filter: invert(1);
		}
	}
}
